@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-poppins: Poppins;

  /* font sizes */
  --font-size-xs: 12px;
  --font-size-base: 16px;
  --font-size-5xl: 24px;

  /* Colors */
  --color-silver: #bcbcbc;
  --gray-5: #e0e0e0;
  --color-lightgray: #d7d7d7;
  --color-white: #fff;

  /* Paddings */
  --padding-xs: 12px;
  --padding-5xl: 24px;

  /* Border radiuses */
  --br-base: 16px;
}
